<div class="container" ng-controller="GameCtrl" >
    <div  class="row">
        <div class="col-sm-6 col-xs-6">
            <h4 class="white" >Team:</h4>
        </div>
        <div class="col-sm-6 col-xs-6">
            <h4 class="white" >{{team.name}}</h4>
        </div>
        <div class="col-sm-12 col-xs-12">
            <h3>Movie:</h3>
        </div>
        <div class="col-sm-12 col-xs-12">
            <h3 class="white" >{{movie.Title}}</h3>
        </div>
        <div class="col-sm-12 col-xs-12">
            <img class="img-responsive" src={{'images/'+src}} alt="movie-poster" />
        </div>
        <div class="col-sm-12 col-xs-12">
            <p style="padding-top: 10px">{{movie.Plot}}</p>
        </div>
        <div class="col-sm-12 col-xs-12" style="padding: 10px;">
            <a href="#time">
                <button ng-click="updateTeam(movie.imdbID)" class="btn btn-default" type="button">Ready
                </button>
            </a>
        </div>
    </div>
</div>
