<div ng-controller="TimerCtrl">
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm-6 col-xs-6" style="display:{{count}}" >
            <button ng-click="stop()" type="button" class="btn btn-default" >Stop</button>
        </div>
        <div class="col-sm-6 col-xs-6" style="display:{{count}}" >
            <button ng-click="start()" type="button" class="btn btn-default">Start</button>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-12" >
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                role="progressbar" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100" style="width: {{bar}}%">
                    <div class="inside">{{counter}}</div>
                </div>
            </div>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-6 col-xs-6">
            <a href="#overview">
                <button ng-click="paused()" type="button" class="btn btn-default">Found</button>
            </a>
        </div>
        <div class="col-sm-6 col-xs-6">
            <a href="#overview">
                <button ng-click="notPassed()" type="button" class="btn btn-default">Not</button>
            </a>
        </div>
    </div>
    <div class="row"  style="margin-top: 80px;"> 
        <div class="col-sm-12">
        <h3>
            {{team.name}}</h3>
        </div>
    </div>
</div>
